<mat-card>
  <mat-card-header>
    <ng-content select="card-header"></ng-content>
    <!--
    <div mat-card-avatar class="github-avatar"></div>
    <mat-card-title>Github Commits</mat-card-title>
    <mat-card-subtitle>Search</mat-card-subtitle>
    -->
  </mat-card-header>
  <form class="github-form">
    <mat-form-field class="github-form-field">
      <div style="display: flex;">
        <input 
          matInput placeholder="Github Username" 
          [(ngModel)]="username" name="username"
          autocomplete="off">
        <button mat-stroked-button (click)="onSearch()">Search</button>
      </div>
    </mat-form-field>
  </form>
  <div class="github-card-content">
    <div *remoteData="commits
      onNotAsked notAskedTemplate
      onLoading loadingTemplate 
      onSuccess successTemplate 
      onFailure failureTemplate">
    </div>
  </div>
</mat-card>