<card centered> 
  <card-header avatar="github-avatar">
    <card-header-title>Github Commits</card-header-title>
    <card-header-subtitle>Search</card-header-subtitle>
  </card-header>
  <github-search-form (onSubmit)="search($event)"></github-search-form>
  <github-search-result>
    <commits-with-service-container [username]="username" #container>
      <commits [commits]="container.commits$ | async"></commits>
      <failure [failures]="container.failures"></failure>
    </commits-with-service-container>
  </github-search-result>
</card>

