.github-card {
  width: inherit;
}

.github-avatar {
  background-color: aquamarine;
}

.github-form {
  width: inherit;
}

.github-form-field {
  width: 100%;
}

.github-card-content {
  font-size: 0.7rem;
}

.centered {
  width: 50vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
